---
import Project from "./Project.astro";
import FerronImage from "../assets/portfolio/ferron.png";
import ZsoieImage from "../assets/portfolio/zsoie.png";
import MernMailImage from "../assets/portfolio/mernmail.png";
import SvrjsImage from "../assets/portfolio/svrjs.png";
import AdmSnippetImage from "../assets/portfolio/admsnippet.png";
---

<section id="projects" class="container py-6">
  <h2 class="text-3xl md:text-4xl font-bold text-center mb-6">My projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 my-6">
    <Project
      image={FerronImage}
      name="Ferron"
      description="A fast, modern, easy to use web server with automatic TLS. The next major release in beta."
      yearBegin={2025}
      techStack={["Rust"]}
      website="https://www.ferronweb.org"
      git="https://github.com/ferronweb/ferron"
    />
    <Project
      image={ZsoieImage}
      name="ZSOiE w Lubsku website redesign"
      description="A redesigned and updated website for technical and general education school in Poland."
      year={2024}
      techStack={["HTML", "CSS", "JavaScript", "PHP", "Joomla"]}
      website="http://zsoie.lubsko.pl"
    />
    <Project
      image={MernMailImage}
      name="MERNMail"
      description="A MERN stack webmail application."
      yearBegin={2024}
      techStack={[
        "MongoDB",
        "Express",
        "React",
        "Node.js",
        "Redux",
        "Tailwind CSS",
        "Vite"
      ]}
      website="https://www.mernmail.org"
      git="https://github.com/mernmail/mernmail"
    />
    <Project
      image={SvrjsImage}
      name="SVR.JS (discontinued)"
      description="Was a web server running on Node.js. Now discontinued in favor of Ferron."
      yearBegin={2018}
      yearEnd={2025}
      techStack={["Node.js"]}
      git="https://github.com/svr-js/svrjs"
    />
    <Project
      image={AdmSnippetImage}
      name="AdmSnippet (discontinued)"
      description="Was a database of user-submitted server administration scripts and configuration files, which allowed server administrators to easily find scripts for their server administration needs."
      yearBegin={2024}
      yearEnd={2025}
      techStack={["HTML", "CSS", "JavaScript", "PHP"]}
      git="https://github.com/DorianNiemiecSVRJS/admsnippet"
    />
  </div>
</section>
